@import 'styles/variables';

.container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  border: 1px solid $input-border-color;
  background-color: rgba(255, 255, 255, 0.85);

  button {
    display: block;
    width: 34px;
    height: 34px;
    font-size: 0;

    svg {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .container {
    top: 10px;
    right: 10px;
  }
}
