@import 'styles/variables';

.input {
  input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    font-size: $base-font-size;
  }
}

.error {
  input {
    border: 1px solid red;
  }
}

.success {
  input {
    border: 1px solid dodgerblue;
  }
}

.description {
  margin-top: 6px;
  color: #888;
  font-size: 12px;
}
