.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(50% - 500px);
  width: 280px;
  padding: 30px 30px 20px 30px;

  h1 {
    margin-bottom: 50px;
  }
}

.content {
  position: relative;
  height: 100%;
}

.navigation {
  margin-bottom: 40px;

  li {
    + li {
      margin-top: 26px;
    }
  }

  a {
    display: block;
    padding: 6px 0;
    font-size: 22px;

    &:hover {
      color: #000;
    }

    svg {
      width: 24px;
      margin-right: 18px;
    }
  }
}
