@import 'styles/mixin';
@import 'styles/variables';

.portable_item {
  display: none;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: calc(50% - 500px);
  width: 280px;
  padding: 30px 30px 20px 30px;

  .logo {
    margin-bottom: 50px;
  }
}

.content {
  position: relative;
  height: 100%;
}

.navigation {
  li + li {
    margin-top: 26px;
  }

  a {
    display: block;
    padding: 6px 0;
    font-size: 22px;

    &:hover {
      color: #000;
    }

    svg {
      width: 24px;
      margin-right: 18px;
    }
  }
}

.write_button {
  margin-top: 40px;
}

@media screen and (max-width: $tablet-breakpoint) {
  .aside {
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .pc_item {
      display: none;
    }

    .portable_item {
      display: block;
    }
  }

  .logo {
    @include hidden;
  }

  .navigation {
    display: flex;
    flex-direction: row;

    li {
      flex: 1;
      text-align: center;
    }

    li + li {
      margin-top: 0;
    }

    a {
      padding: 8px 0;
      font-size: 12px;

      svg {
        display: block;
        margin: 0 auto 8px;
        font-size: 20px;
      }
    }
  }
}
