@import 'styles/variables';

.btn {
  display: block;
  width: 100%;
  border-radius: 4px;
  background-color: #eee;

  &.md {
    height: 40px;
  }

  &.lg {
    height: 50px;
  }
}

.primary {
  background-color: $primary-color;
  color: #fff;
}

.primary-line {
  color: $primary-color;
  border: 1px solid $primary-color;
  background-color: #fff;
}
