@import 'styles/variables';

.container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  padding: 15px;
  border: 1px solid $input-border-color;
  background-color: rgba(255, 255, 255, 0.9);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prev_button {
  overflow: hidden;
  margin-right: 10px;
  padding: 10px;
  font-size: 0;

  svg {
    font-size: 20px;
  }
}

.logo a {
  display: block;
  padding: 10px;
  font-size: 18px;
}
