@import 'styles/variables';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%), 5px 0 15px 0 rgb(0 0 0 / 10%);
}

.header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 15px;
}

.prev_button {
  overflow: hidden;
  margin-right: 10px;
  padding: 10px;
  font-size: 0;

  svg {
    font-size: 20px;
  }
}

.logo a {
  display: block;
  padding: 10px;
  font-size: 18px;

  svg {
    display: block;
  }
}

.place_list {
  width: 300px;

  > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #ddd;
  }

  .empty {
    padding: 30px 10px;
    border: 1px dashed #ddd;
    text-align: center;
    font-size: 14px;

    .icon {
      margin-bottom: 8px;
      color: #999;
      font-size: 28px;
    }
  }

  .image {
    &.has_more:hover {
      animation: slide_here 1s ease-in-out 1 alternate;
    }

    img {
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  .detail_trigger {
    display: block;
    width: 100%;
    text-align: left;
  }

  .name {
    margin-top: 15px;
    color: $accent-font-color;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 6px;
    font-size: 0.9em;
  }

  .info_area {
    margin-top: 10px;

    svg {
      margin-right: 8px;
      vertical-align: text-bottom;
      font-size: 14px;
    }

    .like {
      color: #ff5151;
      font-size: 13px;
    }
  }

  .address {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #999;
    font-size: 13px;
    text-align: left;

    svg {
      margin-right: 8px;
    }
  }
}

@keyframes slide_here {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -10px;
  }
  100% {
    margin-left: 0;
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .container {
    display: block;
    position: static;
    height: auto;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .header {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 0;
  }

  .content {
    display: block;
    flex: none;
    overflow-y: hidden;
    overflow-x: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
  }

  .place_list {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 160px;
    padding: 4px 0;

    > li {
      flex: 1;
      position: relative;
      max-width: 200px;
      height: 100%;
      padding: 0 2px;
      pointer-events: none;

      &:first-child {
        padding-left: 4px;
      }

      &:last-child {
        padding-right: 4px;
      }

      & + li {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }

      & :global(.swiper) {
        height: 100%;
      }
    }

    .inner {
      position: relative;
      height: 100%;
    }

    .image {
      &.has_more:hover {
        animation: none;
      }
    }

    .detail_trigger {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      padding: 8px 10px;
      color: #fff;
      font-size: 13px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

      .name {
        margin-top: 0;
        color: #fff;
      }
    }

    .address {
      display: none;
    }

    .info_area {
      position: absolute;
    }
  }
}
