@import 'styles/variables';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  padding: 15px 0;
  max-height: calc(100vh - 40px);
  border: 1px solid $input-border-color;
  background-color: rgba(255, 255, 255, 0.85);
}

.header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 15px;
}

.prev_button {
  overflow: hidden;
  margin-right: 10px;
  padding: 10px;
  font-size: 0;

  svg {
    font-size: 20px;
  }
}

.logo a {
  display: block;
  padding: 10px;
  font-size: 18px;
}

.place_list {
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;

  > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #ddd;
  }

  .empty {
    padding: 30px 10px;
    border: 1px dashed #ddd;
    text-align: center;
    font-size: 14px;

    .icon {
      margin-bottom: 8px;
      color: #999;
      font-size: 28px;
    }
  }

  .image {
    &.has_more:hover {
      animation: slide_here 1s ease-in-out 1 alternate;
    }

    img {
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  .detail_trigger {
    display: block;
    width: 100%;
    text-align: left;
  }

  .name {
    margin-top: 15px;
    color: $accent-font-color;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 6px;
    font-size: 14px;
  }

  .info_area {
    margin-top: 10px;

    svg {
      margin-right: 8px;
      vertical-align: text-bottom;
      font-size: 14px;
    }

    .like {
      color: #ff5151;
      font-size: 13px;
    }
  }

  .address {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #999;
    font-size: 13px;
    text-align: left;
  }
}

@keyframes slide_here {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -10px;
  }
  100% {
    margin-left: 0;
  }
}
