.banner_image {
  position: relative;
  padding-top: 33.33333333%;
  background-color: #eee;

  .upload_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.profile_image {
  position: relative;
  width: 100px;
  margin: -50px 0 30px 30px;

  .upload_profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
