.btn_kakao {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 24px 0 52px;
  border-radius: 4px;
  background: url(../../../images/login/kakao-logo.png) no-repeat 20px center #fee500;
  background-size: 20px;
  cursor: pointer;
}
