@import 'styles/variables';

.write_form {
  padding: 30px 20px;
}

.icon_write {
  margin-bottom: 10px;
  padding: 5px;
  color: $primary-color;
  font-size: 26px;
}

.image_area {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  .image_item {
    position: relative;
    flex: 1;

    + .image_item {
      margin-left: 10px;
    }

    img {
      width: 100%;
    }
  }

  .remove_button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    svg {
      display: block;
      margin: 0 auto;
    }
  }
}

.location_area {
  margin-top: 20px;
}

.util_area {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.image_button {
  padding: 5px;
  color: $primary-color;
  font-size: 24px;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: darken($primary-color, 20%);
  }
}

.location_button {
  width: 34px;
  height: 34px;
  margin-left: 8px;
  padding: 5px;
  color: $primary-color;
  font-size: 22px;
  vertical-align: top;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: darken($primary-color, 20%);
  }

  svg {
    display: block;
    margin: 0 auto;
  }
}

.map_wrap {
  overflow: hidden;
  border-radius: 4px;
  height: 300px;
  margin-top: 15px;
}

.submit_button {
  width: 80px;
}

@media screen and (max-width: 768px) {
  .image_area {
    .remove_button {
      top: 5px;
      right: 5px;
      width: 26px;
      height: 26px;
      font-size: 16px;
    }
  }
}
