.edit_image_modal {
  padding-bottom: 30px;
}

.image_wrap {
  margin-bottom: 50px;
  font-size: 0;
  text-align: center;
}

.slider_wrap {
  padding: 0 40px;
}

.submit_button {
  width: 120px;
  margin: 40px auto 0;
}
