.content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding-left: 280px;
}

.main {
  min-height: 100vh;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.has_title {
  padding: 40px 30px 100px;
}
