.content {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding-left: 280px;
}

.main {
  min-height: 100vh;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.has_title {
  padding: 40px 30px 100px;
}

.header {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #ebebeb;

  &.has_prev {
    padding-left: 30px;
  }
}

.prev_button {
  position: absolute;
  top: -2px;
  left: -10px;
  padding: 4px 10px;
  font-size: 0;

  svg {
    font-size: 17px;
  }
}
