:global(.zoom_level_8) div :has(> .container),
:global(.zoom_level_9) div :has(> .container),
:global(.zoom_level_10) div :has(> .container),
:global(.zoom_level_11) div :has(> .container),
:global(.zoom_level_12) div :has(> .container),
:global(.zoom_level_13) div :has(> .container),
:global(.zoom_level_14) div :has(> .container) {
  transform: scale(0.7);
  transform-origin: 50% 100%;
}

div :has(> .container:hover) {
  z-index: 10 !important;
}

.container {
  position: relative;
  width: 100px;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
  }
}

.thumbnail {
  position: relative;
  overflow: hidden;
  padding-top: 75%;
  border-radius: 6px 6px 0 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
    pointer-events: none;
  }
}

.name {
  margin-top: 5px;
  font-size: 11px;
}
