@import 'styles/variables';

.banner {
  position: relative;
  padding-top: 33.33333333%;
  background-color: #eee;
}

.info {
  position: relative;
  margin-top: -75px;
  padding: 0 50px;
}

.photo {
  display: inline-block;
  box-shadow: 0 0 2px 2px #fff;
  border-radius: 50%;
}

.user {
  margin-top: 20px;

  .name {
    color: $accent-font-color;
    font-weight: 600;
    font-size: 20px;
  }

  .location {
    margin-left: 15px;
    color: #666;
    font-size: 14px;

    svg {
      margin-right: 5px;
    }
  }
}

.bio {
  margin-top: 24px;
  color: #666;
}

.people {
  margin-top: 30px;
  font-size: 14px;

  span + span {
    margin-left: 12px;
  }
}

.profile_button {
  position: absolute;
  width: 100px;
  top: 100px;
  right: 50px;
}

@media screen and (max-width: $mobile-breakpoint) {
  .banner {
    padding-top: 40%;
  }

  .info {
    padding: 0 20px;
  }

  .profile_button {
    right: 20px;
  }
}
