.container {
  padding: 50px;

  h2 {
    margin-bottom: 50px;
    font-size: 26px;

    svg {
      margin-left: 10px;
    }
  }
}

.roadmap_list {
  li + li {
    margin-top: 40px;
  }

  .heading {
    margin-bottom: 15px;
    font-size: 20px;
  }

  h3 {
    display: inline-block;
    color: #444;
    vertical-align: baseline;
  }

  .target_date {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
    vertical-align: baseline;
  }
}
