@import 'styles/variables';

.address_modal {
  padding: 50px;
}

.address_tab {
  margin-bottom: 20px;
}

.tab_panel {
  display: none;

  &.active {
    display: block;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .address_modal {
    padding: 20px;
  }
}
