@import 'styles/variables';

.container {
  padding-top: 20px;
}

.menu {
  font-size: 0;

  em {
    display: block;
    margin-bottom: 16px;
    font-size: 20px;
    font-style: normal;
  }

  p {
    font-size: 14px;
  }

  a,
  button {
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
    color: #666;
    text-align: left;

    &:hover {
      background-color: darken(#fff, 2%);
    }

    svg {
      width: 14px;
    }
  }

  svg {
    margin-right: 16px;
    color: #888;
  }
}
