@import 'styles/variables';

.comment {
  padding: 2px;
  color: #888;
  font-size: 0;

  svg {
    font-size: 18px;
    vertical-align: bottom;
  }

  .count {
    margin-left: 8px;
    font-size: 14px;
    vertical-align: bottom;
  }
}
