@import 'styles/variables';

.container {
  display: flex;
  flex-direction: row;
  padding: 24px 0;

  & + & {
    border-top: 1px dashed #eee;
  }
}

.profile_image {
  flex: 0 0 auto;
}

.content_area {
  flex: 1;
  padding-left: 14px;
}

.username {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
}

.content_wrap {
  position: relative;
  margin-top: 10px;
}

$content-line-height: 22px;
$content-max-lines: 4;

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $content-max-lines;
  -webkit-box-orient: vertical;
  white-space: pre-line;
  max-height: $content-line-height * $content-max-lines;
  line-height: $content-line-height;
}

.location {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: $primary-color;

  &:disabled {
    cursor: default;
  }

  svg {
    margin-right: 6px;
    color: $primary-color;
  }
}

.location_map {
  height: 500px;
}

.image_list {
  display: flex;
  margin-top: 16px;
}

.image {
  display: block;
  flex: 1;
  position: relative;
  padding-top: 50%;

  + .image {
    margin-left: 1px;
  }
}

.button_area {
  margin-top: 16px;

  button {
    padding: 2px;
    color: #888;
    font-size: 18px;

    svg {
      display: block;
      margin: 0 auto;
    }
  }
}
