@import 'styles/variables';

.container {
  padding: 30px 30px;
}

.loading {
  padding: 50px 0;
  text-align: center;
}

@media screen and (max-width: $mobile-breakpoint) {
  .container {
    padding: 25px 0;
  }
}
