@import 'styles/variables';

.container {
  padding: 25px 0 30px;
}

.info {
  margin-bottom: 20px;
  padding: 0 30px;
}

.user {
  font-size: 0;

  .photo_wrap {
    display: inline-block;
    vertical-align: middle;
  }

  .photo {
    max-width: 100%;
    max-height: 100%;
  }

  .username {
    display: inline-block;
    margin-left: 12px;
    color: $accent-font-color;
    font-size: 18px;
    vertical-align: middle;
  }
}

.extra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.date {
  margin-left: auto;
  color: #888;

  svg {
    margin-right: 6px;
  }
}

.address {
  font-size: 14px;
  color: $primary-color;

  &:disabled {
    cursor: text;
  }

  svg {
    margin-right: 6px;
  }
}

.image_list {
  font-size: 0;

  button {
    display: block;
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
  }
}

.content_wrap {
  padding: 30px;
  white-space: pre-line;
  line-height: 1.5;
}

.place_name {
  margin-bottom: 20px;
  color: $accent-font-color;
  font-weight: 600;
  font-size: 18px;
}

.button_area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;

  button + button {
    margin-left: 20px;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .container {
    padding: 20px 0;
  }

  .info {
    padding: 0 20px;
  }

  .user {
    .photo_wrap {
      width: 40px;
      height: 40px;
    }

    .username {
      font-size: 16px;
    }
  }

  .extra {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .date {
    margin-left: 0;
    font-size: 12px;
  }

  .address {
    margin-top: 20px;
    text-align: left;
    padding-left: 23px;
    text-indent: -23px;
  }

  .content_wrap {
    padding: 20px;
  }

  .place_name {
    font-size: 16px;
  }

  .button_area {
    padding: 0 20px;
  }
}
