@import 'styles/variables';

.container {
  display: flex;
  flex-direction: row;
  padding: 24px 30px;

  & + & {
    border-top: 1px dashed #eee;
  }
}

.profile_image {
  flex: 0 0 auto;
}

.content_area {
  flex: 1;
  position: relative;
  padding-left: 14px;

  &:hover {
    .owner_button_area {
      opacity: 1;
    }
  }
}

.username {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
}

.content_wrap {
  position: relative;
  margin-top: 10px;
}

$content-line-height: 22px;
$content-max-lines: 4;

.content {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $content-max-lines;
  -webkit-box-orient: vertical;
  white-space: pre-line;
  max-height: $content-line-height * $content-max-lines;
  line-height: $content-line-height;

  a {
    display: block;
  }

  &.expanded {
    text-overflow: inherit;
    display: block;
    -webkit-line-clamp: none;
    -webkit-box-orient: inherit;
    max-height: none;
  }
}

.location {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: $primary-color;

  &:disabled {
    cursor: default;
  }

  svg {
    margin-right: 6px;
    color: $primary-color;
  }
}

.image_list {
  display: flex;
  margin-top: 16px;
}

.image {
  display: block;
  flex: 1;
  position: relative;
  padding-top: 50%;

  + .image {
    margin-left: 1px;
  }
}

.button_area {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  button {
    & + button {
      margin-left: 20px;
    }
  }

  .owner_button_area {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .container {
    padding: 24px 20px;
  }

  .profile_image {
    & > a {
      display: block;
      width: 40px;
      height: 40px;
    }

    .photo {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .content_area {
    .owner_button_area {
      opacity: 1;
    }
  }
}
